
.crouselImg{
    width: 100%;
    height: 80vh;
    

}

.homeCardIcon{
    font-size: 28px;
}

.secRow{
   margin-top: 100px;
}
.secImg{
    width: 100%;
    height: 50vh;
}


@media(max-width:768px){
    .crouselImg{
        margin-top: 10px;
        height: 25vh;
    }
    .secImg{
        width: 100%;
        height: 20vh;
    }
    .secRow{
        padding: 20px;
        margin-top: 30px;
     }
     .secCol2{
        margin-top: 30px;
     }
    
}