
.logo{
    width: 90px;
    height: 90px;
    margin-left: 30px;
    border-radius: 100%;
}
.headrerNav{
    background-color: white;
    height: 90px;
    box-shadow: 2px 2px 2px 2px silver;
}

.navList{
    margin-right: 30px;
    font-weight: bold;
    font-family: 'Roboto';
    color: black;
    font-size: 16px;
}

@media(max-width:768px){
    .logo{
        width: 60px;
        height: 60px;
        margin-left: 0px;
      
    }
    .headrerNav{
        background-color: white;
        height: 90px;
        box-shadow: 2px 2px 2px 2px rgba(233, 232, 232, 0.932);
    }
    .navList{
        margin-top: 20px;
       
    }
}